{% extends 'layout-embed.server.view.html' %}

{% block content %}
<section class="scrollable padder vbox-content" style="padding: 30px 15px;">
  <section class="panel panel-default clearfix m-b-none">
    <header class="panel-heading bg-light">
      <div ng-include="'{{appslugEmbed}}/modules/core/client/views/menu.client.view.html'"></div>
    </header>
    <div class="panel-body clearfix">
      <div class="tab-content">
        <div class="tab-pane fade in active">
          <ui-view></ui-view>
        </div>
      </div>
      <div class="clearfix"></div>
      <div>
        <div class="text-center mt15 mb15">
          <i class="i-help"></i><span>Bạn có thể tìm hiểu thêm cách sử dụng tại <a href="https://support.google.com/merchants/answer/160588" target="_blank">Google Merchant Center Help</a></span>
        </div>
      </div>
    </div>
  </section>
</section>
{% endblock %}
